@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agenda WEB</h1>
    <p class="lead">Bienvenido a la agenda online, la mejor agenda del país.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>